*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Inter',sans-serif;
}
body{
  background:linear-gradient(135deg,#e9f3ff,#d9e9ff);
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}
.center-box{
  background:white;
  width:360px;
  padding:30px;
  border-radius:18px;
  box-shadow:0 6px 25px rgba(0,0,0,0.15);
  text-align:center;
}
.iconBox{
  font-size:44px;
  margin-bottom:10px;
}
.sub{
  color:#777;
  margin-bottom:4px;
}
.tag{
  color:#555;
  font-size:14px;
  margin-bottom:20px;
}
label{
  display:block;
  text-align:left;
  margin-bottom:5px;
  font-weight:500;
}
.input{
  width:100%;
  padding:10px 12px;
  border:1px solid #d0d8e5;
  border-radius:10px;
  margin-bottom:15px;
}
.pin{
  width:100%;
  padding:10px 12px;
  border:1px solid #d0d8e5;
  border-radius:10px;
  letter-spacing:6px;
  text-align:center;
  margin-bottom:20px;
}
.btn{
  width:100%;
  background:#184e77;
  color:white;
  padding:12px;
  border:none;
  border-radius:10px;
  font-weight:600;
  cursor:pointer;
  margin-bottom:15px;
}
.note{
  font-size:12px;
  color:#555;
}
